.partnersContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  text-align: center;
}

.partnersContainer h1 {
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 70px;
}

.swiper-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.partnerLogo {
  max-width: 100%;
  height: 200px;
  width: auto;
  object-fit: contain;
}

.navButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.prevButton,
.nextButton {
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
  font-size: 26px;
  transition: 0.3s;
}
